

  .checkout {
    position: relative;
    margin-bottom: 0; // This is the aspect ratio
    height: 0;
    overflow: hidden;
  
}
    @media (max-width: 768px) {
  .checkout 
    {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
  }
}


  .checkout iframe {
    position: relative;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 1000px !important;
 
  }


.botao1 {
width:70%;
margin-top: 15px;
z-index: 10;
text-decoration: none;
padding:20px 10px;

    display:block;
    box-sizing:border-box;
    text-transform:uppercase;
  text-align:center;font-size:24px;line-height:36px;font-weight:bold;
    font-family:'Roboto Condensed', 'Arial', sans-serif;color:#fff;border-radius:6px;
box-shadow: 0 0 0 0 #fff;
background: linear-gradient(to right,#ff5866,#ff5866);
/*background:  linear-gradient(30deg, #00ff93, #006eff);*/

-webkit-font-smoothing: antialiased;
position: relative;
background-size:cover;
background-repeat: no-repeat;
cursor: pointer;
-webkit-animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
-moz-animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
-ms-animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
}
.botao1:hover 
{
    background: linear-gradient(to right,#ff5866,#ff5866);
-webkit-animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
-moz-animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
-ms-animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}



.pricing {
  display: flex;
  justify-content: space-between;
  max-width: 70%;
  margin: auto;
  margin-bottom: 0px;
  margin-top: 35px;

}
.pricing-plan {
  flex: 1;
  background-color: #FFF;

  padding: 30px;
  border-radius: 6px;
  color: #06070b;

  text-align: left;

}

li { text-align: left; }

.price { float: right; }

.valortotal { 
    float: right;
    font-size: 22px;
     padding-right: 0px; }

.total { 
margin-top: 225px; 
font-size: 22px;
}



ul { clear: both; }

ul li {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
}

ul li:last-child {
  border-bottom: none;
    content: "none";
  color: #e30046;
}

@media (max-width: 767px) {
  .pricing {
    display: block;
    max-width: 100%;
  }
}

.pricing-plan h2 {
  margin-top: 0;
  padding-bottom: 10px;
  border-bottom: 2px solid #ff5866;
  text-transform: uppercase;
  letter-spacing: 0.07em;
}
.pricing-plan p {
  margin-top: 0;
}
.pricing-plan p span {
  font-size: 33px;
  float: left;
  padding: 20px 0px 25px 0px;
}
.pricing-plan ul {
  margin: 0 0 0px;
  padding-left: 16px;
  list-style: none;
  line-height: 1.8;
  color: #06070b; /*#b5b5b5*/
}
/*
.pricing-plan ul li::before {
  content: "•";
  color: #e30046;
  display: inline-block;
  width: 20px;
  margin-left: -15px;
  position: relative;
  top: 4px;
  font-size: 26px;
  line-height: 0;
  */

.pricing-plan ul li::before {
  /* content: "•"; */
  content: " \2714";
  color: #ff5866; /*e30046*/
  display: inline-block;
  width: 20px;
  margin-left: -15px;
  position: relative;
  top: 0px;
  font-size: 16px;
  line-height: 0;

}
.pricing-plan a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  background: #ff5866;
  border: 2px solid #ff5866;
  border-radius: 5px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}
.pricing-plan a:hover {
  background-color: #1f262c;
}



.cov,
.covall,
#loadingVideo,

#cfs {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;

  left: 0
}

#loadingVideo {
  background:none;
    
}

#cfs {
  background-image: url(../img/sound.gif);
    z-index: 20!important;
  background-position: top;
  background-position-x: right;
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.4);



}

.cov { /*
  background-image: url(play.png) !important;
  background-size: cover;
  z-index: 20!important;
  display: none; */

 background-image: url(../img/play.png) !important;   
  z-index: 20!important;
  background-position: top;
  background-position-x: right;
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
background-color: rgba(0, 0, 0, 0.4);

 /* background-color: rgba(255, 88, 102, 0.4);  background-color: rgba(0, 0, 0, 0.4);  */

}

.covall {
  z-index: 10!important
}

.responsive-video {
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;

}

.responsive-video iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0
}

.envolvevideo { width: 70%; margin-top: 0px; }

.rodape { position: relative; }

.envolvelogos { position: relative; height: 60px; background: none; width: 70%; padding-left: 0px; padding-right: 0px; }

.logo { height: 42px ;float: left; margin-left: 0px; padding-top: 9px; }

.msg { float:right; margin-right: 0px; padding-top: 18px; cursor: pointer; }





/* modal */
@-webkit-keyframes cta2{0%{background-position:0% 50%}50%{background-position:100% 51%}100%{background-position:0% 50%}}@-moz-keyframes cta2{0%{background-position:0% 50%}50%{background-position:100% 51%}100%{background-position:0% 50%}}@-o-keyframes cta2{0%{background-position:0% 50%}50%{background-position:100% 51%}100%{background-position:0% 50%}}@keyframes cta2{0%{background-position:0% 50%}50%{background-position:100% 51%}100%{background-position:0% 50%}}:root{--mainColor: #ffca4d;--secundaryColor: #d7a124;--btnsColor: #ffca4d;--bgDefault: #000;--space: 0 auto 1.6rem;--mSpace: 0 auto 3rem;--defaultSpace: 1rem;--fwBolder: 700;--fwNormal: 300}.targe{width:100%;background:#000;padding:10px}.targe p{font-size:0.7em;line-height:0.9rem;margin:0;color:#fff;text-align:center}.showModal{cursor:pointer}.modal{width:100%;height:0;position:fixed;z-index:10000000;visibility:hidden}.modalOverlay{background-color:rgba(0,0,0,0.8);position:absolute;top:0;left:0;width:100%;height:100%}.modal .modalContent{width:90vw;max-width:480px;height:auto;background:#fff;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);padding:15px;border-radius:4px;text-align:center;box-sizing:border-box}.modal .modalContent .titleForm{color:#333;font-size:1.4em;line-height:normal;margin:0px 0px 20px 0}.modal .modalContent form{width:100%}.modal .modalContent form input{width:100%;height:auto;font-size:1.4em;font-family:inherit;font-weight:var(--fwNormal);padding:12px;box-sizing:border-box;color:#333;background:rgba(0,0,0,0);background-repeat:no-repeat;background-size:22px auto;background-position:0px;border-bottom:0.5px solid #333;margin:0 8px 0 0;display:block}.modal .modalContent form fieldset input{padding:12px 12px 12px 0}

.modal .modalContent .iconEmail{background-image:url();padding:12px 12px 12px 30px}
.modal .modalContent form p{color:#000}
.btnFechar{width:15px;position:absolute;top:10px;right:10px;cursor:pointer}
.checkAs{position:absolute;top:-10000px}
form .flex{display:flex;justify-content:space-between;align-items:flex-start;flex-wrap:wrap}
form .boxOptin{width:30px;position:relative;cursor:pointer}
form .iCheckbox{width:30px;height:30px;opacity:0}
form .fakeInputCheck{width:20px;height:20px;position:absolute;top:0;left:0;border:solid 1px #000;border-radius:3px;background:#fff;cursor:pointer}form .iCheckbox:checked+.fakeInputCheck{background-image:url();background-repeat:no-repeat;background-position:center 40%;background-size:14px}.simpleForm .flex .infoSubmit{width:calc(100% - 40px);max-width:600px;color:#aaa;text-align:left;font-size:0.85em}.simpleForm .labeled_input_group label{display:none;position:absolute;font-size:12px}.labeled_input_group.hasValue label{display:block}.labeled_input_group.hasValue input{padding-top:14px}.noWrap{white-space:nowrap}.highlight,.highlight-2,.highlight-3{font-family:inherit}.highlight{color:var(--mainColor)}.highlight-2{color:var(--secundaryColor)}.highlight-3{background:var(--thirdColor)}.center{text-align:center}.hidden{display:none !important}.link{color:#0091ff;text-decoration:none}.boxArrowDown{width:100%;height:40px;margin:10px auto;text-align:center;display:block}.arrowDown{height:25px;position:relative;top:10px;z-index:1000;-webkit-animation:arrowDown 1s infinite linear;animation:arrowDown 1s infinite linear;animation-delay:-2s}@-webkit-keyframes arrowDown{0%,20%,50%,80%,100%{-webkit-transform:translateY(0)}40%{-webkit-transform:translateY(-30px)}60%{-webkit-transform:translateY(-15px)}}@keyframes arrowDown{0%,20%,50%,80%,100%{transform:translateY(0)}40%{transform:translateY(-30px)}60%{transform:translateY(-15px)}}.boxNav{width:100%;margin:0 auto;background:#000;border-bottom:solid 1px #333}.boxNav .container{display:flex;flex-wrap:wrap;justify-content:center;align-items:center}.boxNav .container a{flex-grow:0;padding:15px;text-transform:uppercase;text-decoration:none;font-size:1em;color:#fff}.boxNav .container a:hover{}@media only screen and (min-width: 768px){

.modal .modalContent{padding:25px}}

/*fim modal */


@media (max-width: 767px){

.botao1 { width:95%; }

.envolvelogos { width: 90%; padding-left: 0px; padding-right: 0px; }

.rodape { position:  relative; }

.envolvevideo { width: 100%; }
.responsive-video { padding-top: 150%; }
.responsive-video iframe { width: 100%; }

#cfs { 
  background-image: url(../img/sound.gif);
   z-index: 20!important;
  background-position: top;
  background-position-x: right;
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.4);

}

.cov {
  background-image: url(../img/play.png) !important;
  z-index: 20!important;
  background-position: top;
  background-position-x: right;
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
background-color: rgba(0, 0, 0, 0.4);

   /* background-color: rgba(0, 0, 0, 0.4);  */

}