body {
  margin: 0;
  padding: 0;
}

.heading-block {
  padding: 40px 0;
  font-family: sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  padding: 10px;
  text-align: center;
  z-index: 1;
  color: #000;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.heading-block h2 {
  font-family: inherit;
  margin: 0;
  font-size: 25px;
}
@media (max-width: 767px) {
  .heading-block h2 {
    font-size: 15px;
  }
}

.player-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.player-wrapper h3 {
  position: absolute;
  left: 4%;
  top: 6%;
  z-index: 10;
  margin: 0;
  font-size: 16px;
  padding: 10px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  color: #222;
  background-color: rgba(255, 255, 255, 0.5);
  font-family: sans-serif;
  letter-spacing: 1.5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
@media (max-width: 767px) {
  .player-wrapper h3 {
    left: 3%;
    top: 5%;
    font-size: 10px;
    padding: 5px;
    letter-spacing: 0;
    border-width: 1px;
  }
}
.player-wrapper .plyr, .player-wrapper .plyr__video-wrapper, .player-wrapper .plyr__poster {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.player-wrapper .plyr video, .player-wrapper .plyr iframe, .player-wrapper .plyr__video-wrapper video, .player-wrapper .plyr__video-wrapper iframe, .player-wrapper .plyr__poster video, .player-wrapper .plyr__poster iframe {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -webkit-object-fit: cover;
  -moz-object-fit: cover;
  -ms-object-fit: cover;
  object-fit: cover;
}